/* General styling */
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  /* background: linear-gradient(135deg, #0f2027, #203a43, #2c5364); */
  background-color: black;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

/* Container for the clock */

/* Header styling */
h1 {
  font-size: 70px;
  margin: 0;
  color: #00ff99;
  text-shadow: 0 0 5px rgba(0, 255, 153, 0.8);
  animation: slideIn 1s ease-out;
}

/* Keyframes for slideIn animation */
@keyframes slideIn {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Time and date styling */
.time {
  font-size: 40px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #00ccff;
  animation: fadeIn 1.5s ease-in-out;
}

.date {
  font-size: 1.2em;
  margin: 0;
  color: #bbbbbb;
  animation: fadeIn 2s ease-in-out;
}

/* Keyframes for fadeIn animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
